.root {
  margin: 20px auto;
  max-width: 860px;
}

.projectListRoot {
  column-count: 3;
  column-gap: 0;
}

.imgWrapper {
  display: block;
}

.img {
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
}